@model TMS.Models.Task_

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task_</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.Id)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedTasks)
        </dt>
        
        <dd class = "col-sm-10">
            @if (Model.RelatedTasks != null)
            {
                foreach (var item in Model.RelatedTasks)
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                }
            }
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pracownik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
